MaxDeltaQP                    : 10           # CU-based multi-QP optimization
MaxCuDQPSubdiv                : 10           # Maximum subdiv for CU luma Qp adjustment
mapQPFile					  : 1

################################################
